<!DOCTYPE html>
<html lang="es">
  <head>
    {% include 'bootstrap5.html' %}
    <title>Composición</title>
    <style>
      .card-img-top {
        max-height: 200px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container my-5">
      <h1 class="text-center mb-5">Composición</h1>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img
              src="https://via.placeholder.com/500x300"
              class="card-img-top"
              alt="Imagen 1"
            />
            <div class="card-body">
              <h5 class="card-title">Composición Ladrillo</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                ut risus vitae tortor eleifend imperdiet.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img
              src="https://via.placeholder.com/500x300"
              class="card-img-top"
              alt="Imagen 2"
            />
            <div class="card-body">
              <h5 class="card-title">Composición Mapa</h5>
              <p class="card-text">
                Ut consectetur velit sit amet metus pellentesque, nec dictum
                mauris fringilla.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img
              src="https://via.placeholder.com/500x300"
              class="card-img-top"
              alt="Imagen 3"
            />
            <div class="card-body">
              <h5 class="card-title">Composición Estructurada</h5>
              <p class="card-text">
                Aenean semper ligula eget purus consequat mollis. Duis congue
                nunc mi, vel venenatis augue faucibus sed.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img
                src="https://via.placeholder.com/500x300"
                class="card-img-top"
                alt="Imagen 3"
              />
              <div class="card-body">
                <h5 class="card-title">Pizarras</h5>
                <p class="card-text">
                  Aenean semper ligula eget purus consequat mollis. Duis congue
                  nunc mi, vel venenatis augue faucibus sed.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>

</body>
</html>