<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'bootstrap5.html' %}
    <title>Tomar foto con Flask, OpenCV y Python - By Parzibyte</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="columns">
            <div class="column has-text-centered">
                <figure class="image has-text-centered">
                    <!-- Aqui -->
                    <img class="is-inline-block" src="./streaming_camara" style="width: auto">
                        <!-- Aqui -->
                </figure>
            </div>
        </div>
    </section>
</body>

</html>